<div *ngIf="displayedJobs.length !== 0; else noJobs">
  <div *ngFor="let job of displayedJobs; let i = index" class="mb-4">
    <app-job-cart [job]="job" [showDelete]="true" (apply)="openModal(job)" (delete)="deleteJob(job.id)"></app-job-cart>
  </div>
</div>

<ng-template #noJobs>
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <div *ngIf="jobsHasLoaded">
        <h1 class="display-4 font-weight-bold mb-3">There are no jobs to be shown</h1>
      </div>
      <div *ngIf="!jobsHasLoaded">
        <div class="spinner-border text-primary mb-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-modal-job-details #jobModal></app-modal-job-details>
